<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="score.pro">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/new_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_settings"
        android:roundIcon="@drawable/new_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.challenge.sports.view.WebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.challenge.sports.view.FullscreenActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.challenge.sports.view.OnboardingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.challenge.sports.view.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.challenge.sports.view.FirstActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.challenge.sports.view.HomeActivity.BaseActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.challenge.sports.model.test_exo.TestActivity"
            android:configChanges="uiMode"
            android:exported="true" >

        </activity>

        <receiver android:name="com.challenge.sports.utils.MatchReminder" />

        <service android:name="com.challenge.sports.view.floatingbubble.service.FloatingScoreService" />
    </application>

</manifest>